.backHome{
    font-family: 'Press Start 2P';
    font-size: small;
    position: fixed;
    top: 5%;
    left: 2%;
    background-color: #FF1C1C;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: solid 3px black;
    transition: .3s;
}
.backHome:hover{
    background-color: white;
    color: black;
    border: solid 3px black;
    transform: scale(1.03);

}
.pokemon_page_container a{
    color: black;
    text-decoration: none;
}
.section_pokemon_page{
    color: black;
    background-color: #1D2C5E;

    background-size: contain;
    /* background-image: url('/img/flamme3.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10dvh;
}
.pokemon_page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5dvh;
    border-radius: 10px;
    overflow: hidden;
}
.top_page_pokemon{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.bottom_page_pokemon{
    padding: 1em;
    background-color: #5892bf81;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 2em;
}
.img_and_name_container{
    
    display: flex;
    gap: 2em;
    /* width: 100%; */
}
.border_gold_img_pkmn{
    /* border: 5px gold solid;
    border-radius: 10px; */
    height: 90%;
    width: 20vw;
}
.img_pokemon_page{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white, 5px, aliceblue 5px, aliceblue);
    background-size: 100% 10px;
    border: 5px solid rgb(88, 88, 207);
    box-shadow: 0 0 0 5px gold;
    border-radius: 10px;
}
.img_pokemon_page img{
    width: 100%;
    height: 100%;
}
.name_container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* align-items: center; */
    justify-content: center;
    width: 60%;
}
.name_pokemon{
    text-transform: capitalize;
    /* background-color: #F8F8C0; */
    border-radius: 10px;
    font-size: 10vw;
    /* height: 3vw; */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1%;
    color: white;
}
.idPkmn_page{
    color: black;
}
.type_pokemon{
    display: flex;
    gap: 1em;
}
.typeImg{
    width: 10vw!important;
    height: 2em;
    box-shadow: 0 0 0 5px gold;
    border-radius: 16px;
}
.typeImg img{
    width: 100%;
    height: 100%;
}
.taille_pokeball_pkmn_page{
    width: 10vw;
    height: 10vw;
}
.poid_taille_pokemon{
    display: flex;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
}
.poid_taille_pokemon p span{
    color: blue;
}
.poid_taille_pokemon p{
    background-color: aliceblue;
    box-shadow: 0 0 0 5px gold;
    padding: 10px;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.description_pokemon{
    background-color: aliceblue;
    box-shadow: 0 0 0 5px gold;
    border-radius: 10px;
    height: 10vw;
    width: 50vw;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats_pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 20vw;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 0 5px gold;
}
.title_stat{
    font-weight: bold;
}
/* _________________MEDIA QUERIES___________ */
/* ALL  */
@media (max-width: 800px){
    .img_and_name_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .type_pokemon{
        align-items:center;
        justify-content: center;
    }
    .poid_taille_pokemon{
        align-items:center;
        justify-content: center;
    }
    .description_pokemon{
        text-align: center;
    }
}
 /* TABLETTES */
 @media (min-width: 701px) and (max-width: 1000px) {
    .poid_taille_pokemon p{
        width: 20vw;
    }
    .typeImg{
        width: 20vw!important;
    }
 }
  /* TELEPHONE */
 @media (max-width: 700px){
    .poid_taille_pokemon p{
        width: 40vw;
        font-size: small;
    }
    .typeImg{
        width: 40vw!important;
    }
    .description_pokemon{
        font-size: small;
    }
    .backHome{
        width: 70px;
        height: 50px;
    }
 }