main{
    background-image: url('/img/bg3.jpg');
    background-size: contain;
}
.container_main{
    padding-top: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.pokemonName{
    text-transform: capitalize;
}
.pokemon_main{
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    border-radius: 10px;
    background-color: #FF6B6B;
    border: solid white 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s;
}
.pokemon_main:hover{
    transform: scale(1.05);
}
.imgPokemon{
    width: 60%;
    height: 60%;
}
.imgPokemon img{
    width: 100%;
    height: 100%;
}