@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');
html, body {
  margin: 0;
  height: 100%;
}

html {
  background: url('/img/wallpaper4.png') ;
  background-size: cover;
}

body {
  font-family: 'Roboto';
  background-color: transparent;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1.3vw; 
  height: 1.3vw; 
  background-color: #5A91C1;
}

::-webkit-scrollbar-thumb {
  background: url('/public/img/pokeball.png') no-repeat; 
  background-size: 100%; 
}

::-webkit-scrollbar-thumb:hover {
  background: url('/public/img/pokeball.png') no-repeat;
  background-size: 100%;
}